:root {
    --myShadow: 1.2vw .8vh 0 black;
}

* {
    box-sizing: border-box;
}



body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: rgb(73, 173, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* digital font */
@font-face {
    font-family: calc-font;
    src: url(fonts/Digital7Monoitalic-8xKz.ttf);
  }

.calculator-body {
    /* border: 4px solid green; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    background-color: white;
    color: #ccc;
    height: 90vh;
    width: 500px;
    margin: 40px 0 0 0;
}

.calc-title {
    margin: 10px 0 0 10px;
    color: black;
    font-weight: bold;
}

#readout {
    /* border: 4px solid blue; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-itemgit pulls: center;
    font-family: calc-font;
    background-color: #aaa;
    color: #333;
    font-size: 15vw;
    height: calc(.5em + 8vw);
    margin: 1vh 2vw 1vh 2vw;
    text-transform: uppercase;
    padding: 0 .2em .2em .2em;
}

.button-container {
    /* border: 4px solid red; */
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-around;
    font-weight: bold;
}

.button {
    /* border: 2px solid orange; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 140px;
    background-color: lightgray;
    color: black;
    margin: 10px;
    border-radius: 50%;
    box-shadow: var(--myShadow);
    font-size: 3rem;
    text-align: center;
}

.button:nth-child(2) {
    flex-basis: 61.5%;
}

.button:hover {
    background-color: white;
}

.button:active {
    /* transform: translate(0, 3px); */
    transform: scale(.96);
}

.calculate {
    flex-basis: 44.5%;
    justify-self: center;
    border-radius: 20px;
}