:root {
    --myShadow: 5px 5px 0 black;
}



body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

@font-face {
    font-family: calc-font;
    src: url(fonts/Digital7Monoitalic-8xKz.ttf);
  }

.calculator-body {
    /* border: 4px solid green; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    background-color: #333;
    color: #ccc;
    height: 97vh;
}

.calc-title {
    margin: 5px;
}

#readout {
    /* border: 4px solid blue; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    font-family: calc-font;
    background-color: #aaa;
    color: #333;
    font-size: 3.2rem;
    height: 15%;
    margin: 24px;
    text-transform: uppercase;
    padding: 0 .2em .2em .2em;
}

.button-container {
    /* border: 4px solid red; */
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-around;
    height: 72%;
    background-color: #333;
    font-weight: bold;
}

.button {
    /* border: 2px solid gray; */
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 27%;
    gap: 8%;
    background-color: #ccc;
    color: black;
    margin: 10px ;
    border-radius: 20px;
    box-shadow: var(--myShadow);
    font-size: 3rem;
}

.button:nth-child(2) {
    flex-basis: 61%;
}

.button:nth-last-child(-n+2) {
    flex-basis: 44%;
}

.button:hover {
    background-color: white;
}

.button:active {
    transform: translate(0, 5px);
}

.calculate {
    flex-basis: 44.5%;
    justify-self: center;
}







@media (min-width: 600px) {
    .calculator-body {
        /* border: 4px solid green; */
        width: 600px;
    }
}

@media (max-width: 375px) {
    .calculator-body {
        /* border: 4px solid green; */
        width: 375px;
    }
    #readout {
        /* border: 4px solid blue; */
        /* font-size: 2rem; */
    }
}