body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

@font-face {
    font-family: calc-font;
    src: url(fonts/Digital7Monoitalic-8xKz.ttf);
  }

.calculator-body {
    /* border: 4px solid green; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    background-color: #333;
    color: #ccc;
    height: 99vh;
}

.calc-title {
    margin: 1vh 0 0 2vw;
}

#readout {
    border: 4px solid blue;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    font-family: calc-font;
    background-color: #aaa;
    color: #333;
    font-size: 15vw;
    height: calc(.5em + 8vw);
    margin: 1vh 2vw 1vh 2vw;
    text-transform: uppercase;
    padding: 0 .2em .2em .2em;
}

.button-container {
    /* border: 4px solid red; */
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-around;
    height: 80vh;
    background-color: #333;
    font-weight: bold;
}

.button {
    /* border: 2px solid gray; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 28%;
    background-color: #ccc;
    color: black;
    margin: 1vh 1vw 1vh 1vw ;
    border-radius: 2vw;
    box-shadow: 1.2vw .8vh 0 black;
    font-size: 3rem;
}

.button:nth-child(2) {
    flex-basis: 61.5%;
}

.button:hover {
    background-color: white;
}

.button:active {
    transform: translate(0, 5px);
}

.calculate {
    flex-basis: 44.5%;
    justify-self: center;
}