.outside {
    position: relative;
    width: 150px;
    height: 150px;
    border: 2px solid black;
    overflow: hidden;
}

.inside {
    position: absolute;
    top: 0;
    left: 0;
    background-color: gray;
}

.inside:hover {
    position: absolute;
    animation: slideme;
    animation-duration: 1s;
}


@keyframes slideme {
    0% {
        top: 0px;
    }
    50% {
        top: -150px;
    }
}